 auto; 
/* input[type="text"] {
  display: grid;
} */

.calculator {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80%;
  height: auto;
}

.calcKeys {
  display: flex;
  flex-wrap: wrap;
  height: 80pt;
  width: 70pt;
}
.key {
  display: grid;
  background-color: rgb(137, 235, 137);
  height: auto;
}
.key_op {
  display: grid;
  background-color: rgb(210, 248, 210);
  height: auto;
}
.box {
  height: 90px;
  width: 90px;
}

#result {
  font-size: 2rem;
  text-align: end;
  background: hsl(110, 93%, 40%);
  color: white;
}
