input[type="button"] {
  display: flex;
  height: 80pt;
  width: 70pt;
  background-color: rgb(137, 235, 137);
  justify-content: center;
}

.container {
  display: flex;
  height: 500;
  width: 500;
}

.calc_buttons {
  height: 90px;
  width: 90px;
}
