.calcKeys {
  display: flex;
  flex-wrap: wrap;
  width: 70pt;
  color: white;
}

.key {
  background-color: hsl(110, 93%, 40%);
  height: auto;
  border-color: white;
}
.key_op:hover {
  background-color: rgb(112, 201, 112);
}

.key_op {
  background-color: rgb(210, 248, 210);
  height: 50px;
  border-color: white;
}

#result {
  font-size: 2rem;
  text-align: end;
  background: hsl(110, 93%, 40%);
  color: white;
  border-color: white;
  height: 38pt;
  width: 50pt;
}
